<template>
  <div>
    <base-dialog :show="!!error" title="An error occurred" @close="handleError">
      <p>{{ error }}</p>
    </base-dialog>
    <base-card>
      <form @submit.prevent="submitForm">
        <div class="from-control">
          <label for="email">Email</label>
          <input
            class="form-control"
            type="email"
            id="email"
            v-model.trim="email.value"
            placeholder="Please enter your email"
          />
        </div>
        <div class="from-control">
          <label for="password">Password</label>
          <input
            class="form-control"
            type="password"
            id="password"
            v-model.trim="password.value"
            placeholder="Please enter your password"
          />
        </div>
        <p v-if="!formIsValid">
          Please enter a valid email and password (must be at least 8 characters
          long).
        </p>
        <div class="mt-2">
          <base-button>{{ submitButtonCaption }}</base-button>
          <base-button type="button" mode="flat" @click="switchAuthMode">{{
            switchModeButtonCaption
          }}</base-button>
        </div>
      </form>
    </base-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: {
        value: '',
      },
      password: {
        value:''
      },
      formIsValid: true,
      mode: 'login',
      error: null,
    };
  },
  computed: {
    submitButtonCaption() {
      if (this.mode === 'login') {
        return 'Login';
      } else {
        return 'Signup';
      }
    },
    switchModeButtonCaption() {
      if (this.mode === 'login') {
        return 'Signup instead';
      } else {
        return 'Login instead';
      }
    },
  },
  methods: {
    async submitForm() {
      this.formIsValid = true;
      if (
        this.email.value === '' ||
        !this.email.value.includes('@') ||
        this.password.value.length < 8
      ) {
        this.formIsValid = false;
        return;
      }

      const actionPayload = {
        email: this.email.value,
        password: this.password.value,
      };

      try {
        if (this.mode === 'login') {
          await this.$store.dispatch('login', actionPayload);
        } else {
          await this.$store.dispatch('signup', actionPayload);
        }
        this.$router.replace('/students');
      } catch (err) {
        this.error = err.message || 'Failed to authenticate! Try later.';
      }
      
      this.$store.dispatch('loggedUser', this.email.value);
      
    },
    switchAuthMode() {
      if (this.mode === 'login') {
        this.mode = 'signup';
      } else {
        this.mode = 'login';
      }
    },
    handleError() {
      this.error = null;
    },
  },
};
</script>

<style scoped>
form {
  margin: 1rem;
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}
form p {
  color: red;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}
</style>