<template>
  <header>
    <nav>
      <h1>
        <router-link to="/"
          >Student <span>Information</span> System
        </router-link>
      </h1>
      <ul v-if="isLoggedIn">
        <li><router-link to="/">Home</router-link></li>
        <li>
          <router-link to="/students">Students</router-link>
        </li>
        <li>
          <base-button @click="logout">Logout</base-button>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import BaseButton from './BaseButton.vue';
export default {
  components: { BaseButton },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    },
    loggedUser() {
      return this.$store.getters.userLogged;
    },
  },
  methods: {
    logout() {
      this.$store.dispatch('logout');
      this.$router.replace('/auth');
    },
    login() {
      this.$router.replace('/auth');
    },
  },
};
</script>

<style scoped>
header {
  width: 100%;
  height: 6rem;
  background-color: #11253b;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #11253b;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border: 1px solid transparent;
}

a:active,
a:hover,
a.router-link-active {
  background-color: #11253b;
  color: #ffff;
  border: 1px solid #ffff;
}

h1,
h1 a {
  text-decoration: none;
  color: white;
  background-color: #11253b;
  margin: 0;
}

h1 a:hover,
h1 a:active,
h1 a.router-link-active {
  text-decoration: none;
  color: white;
  background-color: #11253b;
  margin: 0;
  border: solid 1px transparent;
}

h1 span {
  color: #fefc00;
  background-color: #11253b;
}

header nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #11253b;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #11253b;
  font-weight: bolder;
}

li {
  margin: 0.2rem;
  padding-top: 0.29rem;
  background-color: #11253b;
}


</style>