<template>
  <section>
    <div v-if="isLoggedIn">
      <base-card>
    <h2>Page not found</h2>
    <p>
      This page could not be found - maybe you should go back to
      <router-link to="/students">students</router-link> list!
    </p>
    </base-card>
    </div>
    <div v-else>
      <base-card>
    <h2>Page not found</h2>
    <p>
      If you want to go back please click 
      <router-link to="/auth"> here</router-link>!
    </p>
    </base-card>
    </div>    
  </section>
</template>

<script>
export default {
  computed: {
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    },
  }
}
</script>

<style scoped>
section,h2,p,a{
  background-color: white;
}
</style>