<template>
  <section>
    <div v-if="showModal" class="backdrop"></div>
    <transition name="dialog" appear>
      <dialog open v-if="showModal">
        <header>
          <h2>Delete student</h2>
        </header>
        <section>
          <h5 class="my-4">
            Please confirm if you want to delete this student!
          </h5>
        </section>
        <footer class="mb-3 ms-3">
          <base-button @click="cancel">Cancel</base-button>
          <base-button @click="deleteStudent">Delete</base-button>
        </footer>
      </dialog>
    </transition>
  </section>
</template>

<script>
import BaseButton from '../../components/layouts/BaseButton.vue';
export default {
  props:['id'],
  components: { BaseButton },
  data() {
    return {
      showModal: true,
    };
  },
  methods: {
    deleteStudent(id) {
      id=this.id;
      this.$store.dispatch('students/deleteStudents', id);
      this.$router.replace('/students');
      this.showModal = false;
      
    },
    cancel() {
      this.showModal = false;
      this.$router.replace('/students');
    },
  },
};
</script>

<style scoped>
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

dialog {
  position: fixed;
  top: 20vh;
  left: 10%;
  z-index: 100;
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #eef1f7;
}

header {
  background-color: #11253b;
  color: #eef1f7;
  width: 100%;
  padding: 1rem;
}

header h2 {
  margin: 0;
  background-color: #11253b;
}

section h5 {
  color: #ff3c3c;
}

section {
  padding: 1rem;
}

footer {
  background-color: #eef1f7;
}

footer button:last-child:hover {
  background-color: #9a1414;
}

.dialog-enter-from,
.dialog-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.dialog-enter-active {
  transition: all 0.3s ease-in-out;
}

.dialog-leave-active {
  transition: all 0.3s ease-in;
}

.dialog-enter-to,
.dialog-leave-from {
  opacity: 1;
  transform: scale(1);
}

@media (min-width: 768px) {
  dialog {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
</style>