<template>
  <section>
    <div v-if="showModal" @click="cancel" class="backdrop"></div>
    <transition name="dialog" appear>
      <dialog open v-if="showModal">
        <header>
          <h2>Edit student</h2>
        </header>
        <section id="formSection" class="mb-5">
          <base-card>
            <form @submit.prevent="submitForm">
              <div class="form-control">
                <label for="firstName" :class="{ invalid: !firstName.isValid }"
                  >FirstName</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="firstName"
                  v-model.trim="firstName.value"
                  @blur="clearInvalidity('firstName')"
                />
                <p v-if="!firstName.isValid">Please enter First Name</p>
                <label for="lastName" :class="{ invalid: !lastName.isValid }"
                  >Last Name</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="lastName"
                  v-model.trim="lastName.value"
                  @blur="clearInvalidity('lastName')"
                />
                <p v-if="!lastName.isValid">Please enter Last Name</p>
                <label
                  for="dateOfBirth"
                  :class="{ invalid: !dateOfBirth.isValid }"
                  >Date of Birth</label
                >
                <input
                  class="form-control"
                  type="date"
                  id="dateOfBirth"
                  v-model="dateOfBirth.value"
                  @blur="clearInvalidity('dateOfBirth')"
                />
                <p v-if="!dateOfBirth.isValid">Please enter Date of Birth</p>
                <label
                  for="municipality"
                  :class="{ invalid: !municipality.isValid }"
                  >Municipality</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="municipality"
                  v-model.trim="municipality.value"
                  @blur="clearInvalidity('municipality')"
                />
                <p v-if="!municipality.isValid">Please enter Municipality</p>
              </div>
              <p v-if="!formIsValid">
                Please fix the above errors and submit again!
              </p>
              <footer>
                <base-button @click="submitForm">Save</base-button>
                <base-button @click="cancel">Cancel</base-button>
              </footer>
            </form>
          </base-card>
        </section>
      </dialog>
    </transition>
  </section>
</template>


<script>
import BaseButton from '../../components/layouts/BaseButton.vue';
export default {
  components: { BaseButton },
  props: ['id'],
  data() {
    return {
      firstName: {
        value: '',
        isValid: true,
      },
      lastName: {
        value: '',
        isValid: true,
      },
      dateOfBirth: {
        value: null,
        isValid: true,
      },
      municipality: {
        value: '',
        isValid: true,
      },
      formIsValid: true,
      showModal: true,
    };
  },
  methods: {
    clearInvalidity(input) {
      this[input].isValid = true;
    },
    formValidation() {
      this.formIsValid = true;
      if (this.firstName.value === '') {
        this.firstName.isValid = false;
        this.formIsValid = false;
      }
      if (this.lastName.value === '') {
        this.lastName.isValid = false;
        this.formIsValid = false;
      }
      if (!this.dateOfBirth.value) {
        this.dateOfBirth.isValid = false;
        this.formIsValid = false;
      }
      if (this.municipality.value === '') {
        this.municipality.isValid = false;
        this.formIsValid = false;
      }
    },
    submitForm() {
      (this.showModal = true), this.formValidation();

      if (!this.formIsValid) {
        return;
      }
      const formData = {
        id: this.id,
        firstName: this.firstName.value,
        lastName: this.lastName.value,
        dateOfBirth: this.dateOfBirth.value,
        municipality: this.municipality.value,
      };
      this.$store.dispatch('students/updateStudents', formData);
      this.$router.replace('/students');
    },
    cancel() {
      this.showModal = false;
      this.$router.replace('/students');
    },
  },
  mounted() {
    const students = JSON.parse(localStorage.getItem('students')) || [];
    let student = students[this.id];
    this.firstName.value = student.firstName;
    this.lastName.value = student.lastName;
    this.dateOfBirth.value = student.dateOfBirth;
    this.municipality.value = student.municipality;
  },
};
</script>

<style scoped>
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

dialog {
  position: fixed;
  top: 20vh;
  left: 10%;
  z-index: 100;
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0;
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #eef1f7;
}

header {
  background-color: #11253b;
  color: #eef1f7;
  width: 100%;
  padding: 1rem;
}

label {
  background-color: white;
  font-weight: bold;
}

header h2 {
  margin: 0;
  background-color: #11253b;
}

p {
  color: #ff3c3c;
  background-color: white;
}

section {
  padding: 1rem;
}

footer {
  background-color: white;
  margin-top: 1rem;
}
form {
  background-color: white;
}

footer button:last-child:hover {
  background-color: #9a1414;
}

.dialog-enter-from,
.dialog-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.dialog-enter-active {
  transition: all 0.3s ease-in-out;
}

.dialog-leave-active {
  transition: all 0.3s ease-in;
}

.dialog-enter-to,
.dialog-leave-from {
  opacity: 1;
  transform: scale(1);
}

@media (min-width: 768px) {
  dialog {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
</style>