<template>
  <section>
    <base-card>
      <h2 class="ms-3">Register New Student</h2>
      <student-form @save-data="saveData"></student-form>
    </base-card>
  </section>
</template>

<script>
import StudentForm from '../../components/students/StudentForm.vue';

export default {
  components: {
    StudentForm,
  },
  methods: {
    saveData(data) {
      this.$store.dispatch('students/registerStudent', data);
      this.$router.replace('/students');
    },
  },
};
</script>

<style scoped>
h2 {
  background-color: white;
}
</style>