<template>
  <div>
    <base-dialog
      :show="!!error"
      title="An error occurred!"
      @close="handleError"
    >
      <p>
        {{ error }}
      </p>
    </base-dialog>
    <div class="m-5">
      <section>
        <div class="controls" v-show="students">
          <base-button v-if="isLoggedIn" id="baseButton" link to="/register"
            >Register New Student</base-button
          >
        </div>
        <div class="mt-5 ms-4" v-show="students">
          <input
            class="form-control w-75 ms-5"
            type="text"
            v-model="searchString"
            placeholder="Search in table..."
          />
        </div>

        <div v-if="isLoading">
          <h2>Loading...</h2>
        </div>

        <div v-else-if="students">
          <table
            class="
              table table-bordered table-hover table-striped table-secondary
            "
          >
            <caption>
              List of Students
            </caption>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>DoB</th>
                <th>Municipality</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <student-item
                v-for="student in filteredStudents"
                :key="student.id"
                :id="student.id"
                :first-name="student.firstName"
                :last-name="student.lastName"
                :date-of-birth="student.dateOfBirth"
                :municipality="student.municipality"
              ></student-item>
            </tbody>
          </table>
        </div>
        <base-card v-if="students.length <= 0">
          <h3 id="noDataFound" class="text-center m-5">
            No data found for students! To register new student click
            <router-link to="/register">here</router-link>!
          </h3></base-card
        >
      </section>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import BaseButton from "../../components/layouts/BaseButton.vue";
import BaseCard from "../../components/layouts/BaseCard.vue";
import BaseDialog from "../../components/layouts/BaseDialog.vue";
import StudentItem from "../../components/students/StudentItem.vue";

export default {
  components: {
    StudentItem,
    BaseButton,
    BaseDialog,
    BaseCard,
  },
  data() {
    return {
      isLoading: false,
      error: null,
      searchString: "",
    };
  },
  computed: {
    students() {
      return this.$store.getters["students/students"];
    },
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    },
    filteredStudents() {
      return this.students.filter(
        (student) =>
          student.id.includes(this.searchString) ||
          student.firstName.toLowerCase().includes(this.searchString.toLowerCase()) ||
          student.lastName.toLowerCase().includes(this.searchString.toLowerCase()) ||
          student.municipality.toLowerCase().includes(this.searchString.toLowerCase())
      );
    },
  },
  
  methods: {
    async loadStudents() {
      this.isLoading = true;
      try {
        await this.$store.dispatch("students/loadStudents");
      } catch (error) {
        this.error = error.message || "Something went wrong!";
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    },
  },
  created() {
    this.loadStudents();
  },
};
</script>

<style scoped>
.table {
  width: 90%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#baseButton {
  float: right;
  margin-right: 5rem;
  margin-bottom: 1rem;
}
h3,
a {
  background-color: white;
}
</style>