<template>
<div class="container">
  <form @submit.prevent="submitForm">
    <div class="form-control" >
      <label for="firstName" :class="{invalid: !firstName.isValid}">FirstName</label>
      <input type="text" id="firstName" v-model.trim="firstName.value" @blur="clearInvalidity('firstName')"/>
      <p v-if="!firstName.isValid">Please enter First Name</p>

      <label for="lastName" :class="{invalid: !lastName.isValid}">Last Name</label>
      <input type="text" id="lastName" v-model.trim="lastName.value" @blur="clearInvalidity('lastName')"/>
      <p v-if="!lastName.isValid">Please enter Last Name</p>

      <label for="dateOfBirth" :class="{invalid: !dateOfBirth.isValid}">Date of Birth</label>
      <input type="date" id="dateOfBirth" v-model="dateOfBirth.value" @blur="clearInvalidity('dateOfBirth')"/>
      <p v-if="!dateOfBirth.isValid">Please enter Date of Birth</p>

      <label for="municipality" :class="{invalid: !municipality.isValid}">Municipality</label>
      <input type="text" id="municipality" v-model.trim="municipality.value" @blur="clearInvalidity('municipality')"/>
      <p v-if="!municipality.isValid">Please enter Municipality</p>
    </div>
    <p class="ms-2" v-if="!formIsValid">Please fix the above errors and submit again!</p>
    <base-button>Save</base-button>
  </form>
</div>
</template>

<script>
export default {
  emits: ['save-data'],
  data() {
    return {
      firstName: {
        value: '',
        isValid: true,
      },
      lastName: {
        value: '',
        isValid: true,
      },
      dateOfBirth: {
        value: null,
        isValid: true,
      },
      municipality: {
        value: '',
        isValid: true,
      },
      formIsValid: true,
    };
  },
  methods: {
    clearInvalidity(input) {
      this[input].isValid = true;
    },
    formValdation() {
      this.formIsValid = true;
      if (this.firstName.value === '') {
        this.firstName.isValid = false;
        this.formIsValid = false;
      }
      if (this.lastName.value === '') {
        this.lastName.isValid = false;
        this.formIsValid = false;
      }
      if (!this.dateOfBirth.value) {
        this.dateOfBirth.isValid = false;
        this.formIsValid = false;
      }
      if (this.municipality.value === '') {
        this.municipality.isValid = false;
        this.formIsValid = false;
      }
    },
    submitForm() {
      this.formValdation();

      if(!this.formIsValid) {
        return;
      }

      const formData = {
        first: this.firstName.value,
        last: this.lastName.value,
        dob: this.dateOfBirth.value,
        municipality: this.municipality.value,
      };
      this.$emit('save-data', formData);
    },
  },
};
</script>


<style scoped>
.form-control {
  margin: 0.5rem 0;
}
div, form {
  background-color: white;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  background-color: white;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #f0e6fd;
  outline: none;
  border-color: #3d008d;
}


h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label,p {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>