<template>
  <tr>
    <td>{{ id }}</td>
    <td>{{ fullName }}</td>
    <td>{{ dateOfBirth }}</td>
    <td>{{ municipality }}</td>
    <td>
      <base-button link :to="editStudentProfile">Edit</base-button>
      <base-button link :to="deleteStudentProfile">Delete</base-button>
    </td>
  </tr>
</template>

<script>
import BaseButton from '../layouts/BaseButton.vue';
export default {
  components: { BaseButton },
  props: ['id', 'firstName', 'lastName', 'dateOfBirth', 'municipality'],
  computed: {
    fullName() {
      return this.firstName + ' ' + this.lastName;
    },
    editStudentProfile() {
      return this.$route.path + '/edit/' + this.id;
    },
    deleteStudentProfile() {
      return this.$route.path + '/delete/' + this.id;
    },
  },
};
</script>

<style scoped>
td a {
  background-color: transparent !important;
}

td a:first-child {
  text-decoration: none;
  color: #262655;
}
td a:first-child:hover {
  background-color: #bfbfbf !important;
  border: solid 1px #262655;
}
td a:last-child {
  text-decoration: none;
  color: #9a1414;
}
td a:last-child:hover {
  background-color: #bfbfbf !important;
  border: solid 1px #9a1414;
}

h3 {
  font-size: 1.5rem;
}

h3,
h4 {
  margin: 0.5rem 0;
}

div {
  margin: 0.5rem 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
</style>